/*
    Globals
*/

body{
    color: white;
    background-color: teal;
}

h3{
    margin: 0px;
}

/*
    Navbar
*/

.navbar.navbar-fixed-top{
    height: 100px;
    
    border: none;
    background: none;
    background-color: purple;
}

#navbar-logo-container{
    position: relative;
}

#navbar-logo{
    height: 100px;
    margin: 0px 20px;
    
    /* position */
    position: relative;
    z-index: 1;
}

#brand-text{
    height: 100px;
    margin: 0px 0px;
    
    /* position */
    position: relative;
    z-index: 1;
}

#logo-triangle{
    /* display */
    display: block;
    
    /* size */
    height: 100px;
    width: 820px;
    
    /* position */
    position: absolute;
    margin-left:-700px; 
    margin-bottom:20px ;
    transform: skew(-74deg);
    z-index: 0;
    
    /* others */
    background-color: #6ca38a;
}

#navbar-skew-left{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: teal;
}

#nav-contents{
    background-color: teal;
    z-index: 10;
}

#nav-contents a{
    color: white;
}

#nav-contents a:hover{
    color: antiquewhite;
}

#banner{
/*    position:absolute;*/
    height:400px;
    margin-top: 100px;
    background-color: teal;
}

#college-slideshow ul li{
    display: inline-block;
    width:30px;
    margin-left: 2px;
    overflow: hidden;
    transform:skew(-20deg);
    -moz-transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

#college-slideshow ul li:hover, .active{
    width:250px;
}


#college-slideshow img{
    height:300px;
    width: 500px;
    -moz-transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

#college-slideshow img:hover{
    width:100%;
}