/*
    Globals
*/

body{
    color: white;
    background-color: teal;
}

h3{
    margin: 0px;
}

/*
    Navbar
*/

.navbar.navbar-fixed-top{
    height: 50px;
    
    border: none;
    background: none;
    background-color: purple;
}

#navbar-logo-container{
    position: relative;
}

#navbar-logo{
    height: 250px;
    margin: 10px 20px;
    
    /* position */
    position: relative;
    z-index: 1;
}

#logo-triangle{
    /* display */
    display: block;
    
    /* size */
    height: 400px;
    width: 200px;
    
    /* position */
    position: absolute;
    left: 0px;
    bottom: 92px;
    transform: rotate(-15deg);
    z-index: 0;
    
    /* others */
    background-color: #6ca38a;
}

#logo-triangle:before{
    content: '';
    
    /* display */
    display: block;
    
    /* size */
    height: 400px;
    width: 1000px;
    
    /* position */
    position: absolute;
    right: 0px;
    top: 0px;
    
    /* others */
    background-color: #6ca38a;
}

#logo-triangle:after{
    content: '';
    
    /* display */
    display: block;
    
    /* size */
    height: 400px;
    width: 1000px;
    
    /* position */
    position: absolute;
    left: 0px;
    top: 0px;
    
    /* others */
    background-color: #6ca38a;
}
#nav-contents{
    z-index: 10;
}

#nav-contents a{
    color: white;
}

#nav-contents a:hover{
    color: antiquewhite;
}

#banner{
/*    position:absolute;*/
    height:400px;
    margin-top: 200px;
    background-color: teal;
}

#college-slideshow ul li{
    display: inline-block;
    width:30px;
    margin-left: 2px;
    overflow: hidden;
    transform:skew(-20deg);
    -moz-transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

#college-slideshow ul li:hover, .active{
    width:250px;
}


#college-slideshow img{
    height:300px;
    width: 500px;
    -moz-transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

#college-slideshow img:hover{
    width:100%;
}